.grid_1{width:4.7%}.grid_2{width:13.2%}.grid_3{width:22.05%}.grid_4{width:30.6%}.grid_5{width:39%}.grid_6{width:48%}.grid_7{width:56.75%}.grid_8{width:61.6%}.grid_9{width:74.05%}.grid_10{width:82%}.grid_11{width:91.35%}
.clearfix{
	*zoom: 1;
	*-ms-inject: expression(this.x||(this.innerHTML+='<br\ style="clear:both;font:0/0">',this.x=1));
}